In [1]:
import numpy as np
import pandas as pd
import json

In [13]:
users1 = pd.read_csv('snsusers_users.csv')
#users1.head()
print(users1.shape)

(19, 13)

In [14]:
users2 = pd.read_csv('snshashtags_users.csv')
#users2.head()
users2.shape

(1130, 13)

In [17]:
#merge users
users = pd.concat([users1,users2])
users.head()

,username,displayname,userId,rawDescription,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location
0,btfmrises,Ÿã,1225094973948878853,i am not a troll btw,False,2020-02-05T16:33:04+00:00,17,14,329,1113,0,68,"s/h, 25, white"
1,bisexualjb,tristan,702934687551983616,"what the actual fuck, oh my gosh how insecure ...",False,2016-02-25T19:14:24+00:00,171,40,81,11,0,21,exo üíü got2
2,joohwangsi,save palestineüáµüá∏,1368643588054118400,positive vibes only‚ù§Ô∏è,False,2021-03-07T19:24:05+00:00,197,266,5207,8236,0,441,exopink
3,icnsgore,ateez disband,1393369710717280263,"no staneo a nadie, no rompan las bolas",False,2021-05-15T00:56:49+00:00,25,25,126,46,0,11,√©l
4,bbarajey,loona flop disband,1395442212062863366,...,False,2021-05-20T18:12:12+00:00,2,4,22,5,0,1,NaN

In [18]:
users.shape

(1149, 13)

In [12]:
#drop duplicates, clean
users = pd.DataFrame(users)
users.drop_duplicates(subset=['userId'], inplace=True)
users.head()
users.shape

(1141, 13)

In [ ]:
#users.to_csv('dataset_users.csv',index = False)

In [19]:
tweets1 = pd.read_csv('snsusers_tweets.csv')
print(tweets1.shape)
tweets2 = pd.read_csv('snshashtags_tweets.csv')
print(tweets2.shape)

(7134, 12)
(3380, 12)

In [21]:
#merge tweet data
tweets = pd.concat([tweets1,tweets2])
print(tweets.shape)

#drop duplicates, clean
tweets = pd.DataFrame(tweets)
tweets.drop_duplicates(subset=['tweetId'], inplace=True)
print(tweets.shape)

(10514, 12)
(10490, 12)

In [22]:
tweets.head()

,date,renderedContent,tweetId,userId,replyCount,retweetCount,likeCount,quoteCount,media,quotedTweet,mentionedUsers,lang
0,2021-05-29 00:53:33+00:00,@TETEPROTECT0R he‚Äôs jinjja uwu~~üòû,1398442352868462596,1225094973948878853,1,0,1,0,NaN,NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",Indonesian
1,2021-05-28 23:54:38+00:00,@J4MAlSVU_ @yeoyxy @vminkookurz yes coz even s...,1398427525844549633,1225094973948878853,5,2,2,11,NaN,NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",English
2,2021-05-28 22:06:12+00:00,@jnkstigmaa chan outsold https://t.co/A5jMzyqVvZ,1398400240173076481,1225094973948878853,1,0,0,1,"[{'_type': 'snscrape.modules.twitter.Photo', '...",NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",English
3,2021-05-28 22:03:53+00:00,@jnkstigmaa EXCUSE MEEEEE&amp;:):&amp;):¬£: i a...,1398399655533236232,1225094973948878853,1,0,0,0,NaN,NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",English
4,2021-05-28 22:02:39+00:00,@jnkstigmaa gottem mad https://t.co/RncbakBowH,1398399345356165122,1225094973948878853,1,0,0,0,"[{'_type': 'snscrape.modules.twitter.Gif', 'th...",NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",English

In [ ]:
#tweets.to_csv('dataset_tweets.csv',index = False)

In [24]:
tweets[['tweetId','lang']].groupby('lang').count().sort_values(by = ['tweetId'], ascending=False)

                    tweetId
lang
English                7284
Spanish; Castilian     1220
Korean                  404
Indonesian              278
Tagalog                 120
Romanian, Moldavan      117
Estonian                 74
Polish                   56
Portuguese               53
Haitian                  50
Finnish                  39
French                   37
Danish                   33
Dutch                    18
Italian                  17
German                   14
Hungarian                13
Swedish                  12
Czech                    11
Basque                    8
Lithuanian                7
Norwegian                 7
Welsh                     6
Catalan; Valencian        6
Slovene                   5
Turkish                   5
Icelandic                 4
Thai                      4
Vietnamese                4
Latvian                   3
Hindi                     2
Russian                   1
Arabic                    1